/* Global styles */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

#map {
    height: 100%;
    width: 100%;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Carousel styles */

.cover1 {
    background: url('../images/bacon.jpg') no-repeat center center fixed;
}
.cover2 {
    background: url('../images/english.JPG') no-repeat center center fixed;
}

.carousel-caption h1 {
    font-size: 80px;
}

.carousel {
    height: 600px;
    margin-bottom: 60px;
}

.carousel-caption {
    display: inline-block;
    height: 390px;
    text-align: left;
}

.carousel .item {
    height: 600px;
}


/* Navigation styles */

.navbar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}

/* Welcome styles */
#welcome {
    position: relative;
    padding: 0px;
    margin: 0px;
}
#welcome > img {
    width: 200px;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    z-index: 11;
    position: absolute;
}

/* Blackboard styles */
#blackboard {
    background: url('../images/blackboard.jpg') no-repeat center center fixed;
    color: white;
    width: 100%;

}

#blackboard dt {
    width: 180px;
    white-space: normal;
    padding-right: 10px;
    text-align: left;
    padding: 5px;

}

#blackboard h1 {
    font-size: 100px;
}

/* Catering styles */
#catering {
    background-color: white;
    margin: 0px;

}


#catering dt {
    width: 320px;
    text-align: left;
    white-space: normal;
    padding-right: 10px;
}

/* Contact styles */
#westregister {
    background-image: url('../images/westregister.jpg');

}

#buccleuch {
    background-image: url('../images/buccleuch.jpg');

}

#contact {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.contact {
    color: white;
}



/* Comments styles */
#comments {
    width: 100%;
}

/* Responsive styles */

@media (max-width: 768px) {
    #blackboard h1 {
        font-size: 60px;
    }
}
@media (max-width: 600px) {

    #welcome > img {
        width: 150px;
        bottom: 50px;
        right: 0;
        z-index: 11;
        position: absolute;
    }

    #catering dt {
        width: 250px;
    }
    .carousel-caption {
        text-align: center;
    }
    .carousel-caption h2 {
        font-size: 21px;
        line-height: 1.4;
    }

    .carousel-caption h1 {
        font-size: 45px;;
    }
}