/* Global styles */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

#map {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#logo {
    position: absolute;
    width: 300px;
    top: 50px;
    z-index: 11;

}

.navbar-social {
    padding: 15px;
}

/* Carousel styles */

.cover1 {
    background: url('../images/cover1.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.cover2 {
    background: url('../images/cover2.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;

}

.carousel-caption h1 {
    font-size: 80px;
}

.carousel {
    height: 600px;
    margin-bottom: 60px;
}

.carousel-caption {
    display: inline-block;
    height: 390px;
    text-align: left;
}

.carousel .item {
    height: 600px;
}

/* Delivery styles */

#delivery .img-responsive {
    margin: 0 auto;
}

#delivery {
    background-color: #f7f7f7;
    width: 100%;
}

/* Navigation styles */

.navbar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/* Welcome styles */
#welcome {
    position: relative;
    padding: 0px;
    margin: 0px;
}

/* Blackboard styles */
#menu {
    background-image: url('../images/blackboard.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 0%;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#menu dt {
    width: 180px;
    white-space: normal;
    padding-right: 10px;
    text-align: left;
    padding: 5px;
}

#menu h1 {
    font-size: 70px;
}

/* Catering styles */
#catering {
    background-color: white;
    margin: 0px;

}

#catering dt {
    width: 320px;
    text-align: left;
    white-space: normal;
    padding-right: 10px;
}

/* Contact styles */
#westregister {
    background: url('../images/snaxcafe1.jpg') no-repeat;
    height: 100%;
    background-position: 0 0;
    background-size: cover;
}

#buccleuch {
    background: url('../images/snaxcafe2.jpg') no-repeat;
    height: 100%;
    background-position: 0 0;
    background-size: cover;
}

#contact {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.contact {
    color: white;
}

/* Comments styles */
#comments {
    width: 100%;
}

/* Responsive styles */

@media (max-width: 768px) {
    #menu h1 {
        font-size: 60px;
    }

    .navbar {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        filter: alpha(opacity=95);
        -moz-opacity: 0.95;
        -khtml-opacity: 0.95;
        opacity: 0.95;
    }
}

@media (max-width: 600px) {

    #catering dt {
        width: 250px;
    }

    .carousel-caption {
        text-align: center;
    }

    .carousel-caption h2 {
        font-size: 21px;
        line-height: 1.4;
    }

    .carousel-caption h1 {
        font-size: 45px;;
    }

}